<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">You've Discovered My Secret!</h1>
    <p>Share your secrets and explore others' anonymously! No judgments, no consequences. Let it out and discover the freedom of true expression.</p>
    <h5>Click the button below to submit your secret &darr;</h5>
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
    <hr>
    
    <% usersWithSecrets.forEach((user) => { %>
      <% user.secrets.forEach((secret) => { %>
        <p class="secret-text"><%= secret %></p>
      <% }) %>
    <% }) %>

   
  </div>
</div>

<%- include('partials/footer') %>
